body {
  margin: 0;
  padding: 0;
}

.main-div {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.parallax-div {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  height: 35vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(2, 1, 2, 0), #020102);
}

.gradient-overlay h1 {
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5%;
  padding-bottom: 10vh;
  font-size: 10vw;
  line-height: 0.8;
  background: linear-gradient(180deg, #fff, #2d2b36);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0;
}

.parallax-div img {
  position: absolute;
  width: 27.78vw;
  aspect-ratio: 1/1;
  opacity: 0.8;
  transition: 0.5s linear;
}

.parallax-div img:hover {
  opacity: 1;
}

.parallax-div img:nth-child(1) {
  top: 70%;
  left: 70%;
}

.parallax-div img:nth-child(2) {
  top: -5%;
  left: 80%;
}

.parallax-div img:nth-child(3) {
  top: -20%;
  left: 50%;
}

.parallax-div img:nth-child(4) {
  top: 30%;
  left: 60%;
}

.parallax-div img:nth-child(5) {
  top: 35%;
  left: 30%;
}

.parallax-div img:nth-child(6) {
  top: 80%;
  left: 10%;
}

.parallax-div img:nth-child(7) {
  top: -5%;
  left: 10%;
}

.parallax-div img:nth-child(8) {
  top: 25%;
  left: -10%;
}
